*{
	margin:0;
	padding:0;
	font-family: Century Gothic;
}
ul{
	margin-top:20px;
	float: right;
	list-style-type:none;
}
ul li{
	display: inline-block;
}
ul li a{
	padding:20px;
	text-decoration: none;
	color: black;
	padding: 5px 20px;
	border: 2px solid black;
}
ul li a:hover{
	background-color:lightpink;
	color:white;
}
.logo img{
	float:left;
	width:150px;
	height:auto;
}
.main{
	max-width:1200px;
	margin:auto;
}
ul li.current a{
	background-color:lightpink;
	color:black;
}
}
h1{
	margin-left:20px;
	color:brown;
}
.see{
	margin-left:900px;
	font-color:white;
}
span{
	margin-left:500px;
    font-size:x-large;
	text-decoration:none;
	padding: 5px 20px;
	border: 2px solid black;
}